/*Hecho por:*/
/*Fernando Chávez Rivera*/
/*Andrés Ruiz Justo*/
/*Colors: https://www.materialpalette.com/light-blue/cyan*/

body {
    padding-top: 70px;
    background-color: #F5F5F5;

}

.row{
  margin-left: 5%;
  margin-right: 5%;
}
.data{
  margin-left: 0%;
  margin-right: 0%;
}

.barra{
  color: #F5F5F5;
  background-color:#00BCD4;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.backbar{
  background-color: #cccccc;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.imagen{
  text-align: center;
}

.icono{
  font-size: 300%;
}

.title{
  font-family: 'Suez One', serif;
  font-size: 200%;
}

.categoria{
  text-align: center;
  font-size: 150%;
}

.subtitle{
  color: #00BCD4;
  font-size: 150%;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left: 0;
}

.barrasup{
  background-color: #03A9F4;
  border-color: #03A9F4;
}

#boton{
  color: #ffffff;
}

#boton:hover{
  color: #212121;
}

#div1 {
    width: 350px;
    height: 70px;
    padding: 10px;
    border: 1px solid #aaaaaa;
}

.dropteam{
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #555;
  width: 100%;
}
.dropteam:hover{
  background-color: #bdbdbd;
  border: 1px solid #ccc;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary{
  background-color: #bdbdbd;
  border: 1px solid #ccc;
}

.dropteam:focus{
  background-color: #bdbdbd;
  border: 1px solid #ccc;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
  background-color: #bdbdbd;
  border-color: #ffffff;
}
.dropdown-menu>li>a{
  width: 100%;
}
.menunuevo{
  width: 100%;
}
